<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">
						
	<context:annotation-config />  
	
	<!-- Freemarker配置 -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/view/ftl/front/" />
		<property name="defaultEncoding" value="UTF-8" /> 
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
      		 	<prop key="defaultEncoding">UTF-8</prop> 
				<!-- <prop key="default_encoding">UTF-8</prop>  -->
				<!--<prop key="defaultEncoding">UTF-8</prop>-->
				<prop key="number_format">0.##########</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<!-- <prop key="classic_compatible">true</prop> -->
				<prop key="template_exception_handler">ignore</prop>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
			</props>
		</property>
		<!-- <property name="freemarkerVariables">
			<map>
				<entry key="app_content" value-ref="app_content"/>
			</map>
		</property> -->
	</bean>

	<bean id="frontViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".html" />
		<property name="contentType" value="text/html;charset=UTF-8"/> 
		
	</bean>
	<!--front action -->
	<bean name="welcomeAction" class="com.shopping.web.action.front.WelcomeAction"/>
	<bean name="userAction" class="com.shopping.web.action.front.UserAction" />
	
	<!-- 映射处理器 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="userLoginInterceptor"/>
			</list>
		</property>
	</bean> 
	<!-- 前端拦截器 -->
	<bean name="userLoginInterceptor" class="com.shopping.web.interceptor.UserLoginInterceptor">
		<property name="loginUrl" value="/index/member/login.do"/>
		<property name="returnUrl" value="/index/member/index.do"/>
		<!-- 防止死循环 -->
		<property name="excludeUrls">
			<list>
				<value>/login.do</value>
				<value>/logout.do</value>
				<value>/index.do</value>
				<value>/user_register.do</value>
			</list>
		</property>
	</bean>
	
	<!-- <bean name="goodAction" class="com.shopping.web.action.GoodsAction" /> -->
	<!-- 自定义标签 -->
	<!-- <bean id="app_content" class="com.wetuo.example.three.web.directive.ContentDirective"/> -->




</beans>
