[#include "include/header.html"]
<div class="wrapper">
    [#include "include/nav.html"]
    <div class="navigation_container"> 
    <!--Navigation Starts-->
    <nav>
      <ul class="primary_nav">
        [#list categorys as c]
           <li class="active">
              <a href="goods_list.do?cid=${c.cid}">${c.ctype}</a>
           </li>
        [/#list]
      </ul>
      <div class="minicart"> <a href="#" class="minicart_link"> <span class="item"><b>2</b> ITEM /</span> <span class="price"><b>$69.20</b></span> </a>
        <div class="cart_drop"> <span class="darw"></span>
          <ul>
            <li><img src="/${site}/common/default/images/mini_c_item1.png" /><a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span></li>
            <li><img src="/${site}/common/default/images/mini_c_item2.png" /><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
            <div class="cart_bottom">
              <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
              <a href="leisure_cart.html">Checkout</a></div>
          </ul>
        </div>
      </div>
    </nav>
    <!--Navigation Ends--> 
  </div>
    <div class="section_container">
        <!--Mid Section Starts-->
        <section>
            <div class="full_page">
                <h1>Checkout</h1>
                <!--CHECKOUT STEPS STARTS-->
                <div class="checkout_steps">
                    <ol id="checkoutSteps">
                        <li class="section allow active" id="opc-login">
                            <div class="step-title"> <span class="number">1</span>
                                <h2>支付方式</h2>
                            </div>
                            <div id="checkout-step-login">
                                <div class="col2-set">
                                    <div class="col-1">
                                        <h3>注册用户支付</h3>
                                        <form id="pay" action="pay.do" method="post">
                                        <ul class="form-list">
                                            <li class="control">
                                            	<label>订单总价</label>
                                                <input type="text"  value="${forder.ftotal!}" id="login:guest" name="ftotal" />
                                            </li>
                                            <li class="control">
                                            <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                                <input type="text"  value="${forder.fname!}" id="login:register" name="fname" />
                                            </li>
                                            <li class="control">
                                            	<label>送货电话</label>
                                                <input type="text"  value="${forder.fphone!}" id="login:guest" name="fphone" />
                                            </li>
                                            <li class="control">
                                            	<label>送货留言</label>
                                                <input type="text"  value="${forder.fremark!}" id="login:guest" name="fremark" />
                                            </li>
                                            <li class="control">
                                            	<label>送货邮箱</label>
                                                <input type="text"  value="${forder.femail!}" id="login:guest" name="femail" />
                                            </li>
                                            <li class="control">
                                            	<label>送货邮编</label>
                                                <input type="text"  value="${forder.fpost!}" id="login:guest" name="fpost" />
                                            </li>
                                            <li class="control">
                                            	<label>送货地址</label>
                                                <input type="text"  value="${forder.faddress!}" id="login:guest" name="faddress" />
                                            </li>
                                        </ul>
                                        </form>
                                        
                                    </div>
                                    <script type="text/javascript">
                                    	function pay() {
                                    		 document.getElementById("pay").submit();
                                    	}
                                    </script>
                                </div>
                                <div class="col2-set">
                                    <div class="col-1">
                                        <div class="buttons-set">
                                            <button class="button brown_btn" type="button" onclick="pay();">支付</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <!--CHECKOUT STEPS ENDS-->
                <div class="col_right">
                    <div class="block-progress">
                        <div class="block-title">Your Checkout Progress</div>
                            <ul>
                                <li>Billing Address</li>
                                <li>Shipping Address</li>
                                <li>Shipping Method</li>
                                <li>Payment Method</li>
                            </ul>
                    </div>
                    <div class="right_promo">
                    <img src="/${site}/common/default/images/side_promo_banner.jpg" />
                    </div>
                </div>
            </div>
            
        </section>
        <!--Mid Section Ends-->
    </div>
    [#include "include/footer.html"]
</div>
</body>
</html>