[#include "include/header.html"]
<div class="wrapper">
  [#include "include/nav.html"]
  <div class="navigation_container"> 
    <!--Navigation Starts-->
    <nav>
      <ul class="primary_nav">
        [#list categorys as c]
           <li class="active">
               <a href="goods_list.do?cid=${c.cid!}">${c.ctype}</a>
           </li>
        [/#list]
      </ul>
      <div class="minicart"> <a href="#" class="minicart_link"> <span class="item"><b>2</b> ITEM /</span> <span class="price"><b>$69.20</b></span> </a>
        <div class="cart_drop"> <span class="darw"></span>
          <ul>
            <li><img src="/${site}/common/default/images/mini_c_item1.png" /><a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span></li>
            <li><img src="/${site}/common/default/images/mini_c_item2.png" /><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
            <div class="cart_bottom">
              <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
              <a href="leisure_cart.html">Checkout</a></div>
          </ul>
        </div>
      </div>
    </nav>
    <!--Navigation Ends--> 
  </div>
  <div class="section_container"> 
    <!--Mid Section Starts-->
    <section>
    <ul class="breadcrumb">
      <li><a href="#">首页</a></li>
      <li><a href="good_list.html">服装</a></li>
      <li class="active"><a href="#">衬衫</a></li>
    </ul>
    <!--PRODUCT DETAIL STARTS-->
    <div id="product_detail"> 
      <!--Product Left Starts-->
      <div class="product_leftcol"> <img src="/${site}/common/default/images/pr_main.jpg" /> <span class="pr_info">ROLL OVER IMAGE TO ZOOM</span>
        <ul class="pr_gallery">
          <li><a href="#"><img src="/${site}/common/default/images/pr_gal1.jpg" /></a></li>
          <li><a href="#"><img src="/${site}/common/default/images/pr_gal2.jpg" /></a></li>
          <li><a href="#"><img src="/${site}/common/default/images/pr_gal3.jpg" /></a></li>
        </ul>
      </div>
      <!--Product Left Ends--> 
      <!--Product Right Starts-->
      <div class="product_rightcol"> <small class="pr_type">${category.ctype!}</small>
        <h1>${goods.gname!}</h1>
        <p class="short_dc" /> ${goods.gxremark!}
        
        <div class="pr_price"> <big>￥${goods.gprice!}</big> <small>￥72.00</small> </div>
        <div class="size_info">
          <div class="size_sel">
            <label>尺 码 :</label>
            <select>
              <option />选择
              <option />32
            </select>
          </div>
          <div class="color_sel">
            <label>颜色 :</label>
            <select>
              <option />军绿
              <option />分红
            </select>
          </div>
        </div>
        <div class="qty_info">
          <div class="quantity">
            <label>数量 :</label>
            <select>
              <option />1
              <option />2
            </select>
          </div>
        </div>
        <div class="add_to_buttons">
          <button onclick="parent.location='leisure_cart.html'" class="add_cart">加入购物车</button>
          <span>or</span>
          <ul>
            <li><a href="#">去结账</a></li>
          </ul>
        </div>
        <div class="product_overview">
          <h4>产品描述</h4>
          <ul>
            <li>Long sleeves with single button cuffs.</li>
            <li>Cuffs can be rolled up and secured with button-tabs.</li>
            <li>Standing collar with notched detailing.</li>
          </ul>
        </div>
      </div>
    <!--Product Right Ends--> 
  </div>
  <!--PRODUCT DETAIL ENDS--> 
  <!--Product List Starts-->
  <div class="products_list products_slider">
    <h2 class="sub_title">你或许喜欢</h2>
    <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
    [#list goodss as goods]
    [#if goods_index<4]
      <li> <a class="product_image"><img src="/${site}/common/default/images/pr_l_1.jpg" /></a>
        <div class="product_info">
          <h3><a href="goods_detail.do?gid=${goods.gid!}">${goods.gname!}</a></h3>
          <small>${goods.gremark!}</small> </div>
        <div class="price_info"> <a href="#">+ 加入购物清单</a>
          <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">加入购物车</span></button>
        </div>
      </li>
    [/#if]
    [/#list]
    </ul>
  </div>
  <!--Product List Ends--> 
  
  </section>
  <!--Mid Section Ends--> 
</div>
[#include "include/footer.html"]
</div>
</body>
</html>
