[#include "include/header.html"]
<div class="wrapper">
    [#include "include/nav.html"]
    <div class="navigation_container">
        <!--Navigation Starts-->
        <nav>
            <ul class="primary_nav">
                [#list categorys as c]
                <li class="active">
                	<a href="goods_list.do?cid=${c.cid}">${c.ctype!}</a>
                </li>
                [/#list]
            </ul>
            <div class="minicart"> 
            <a href="#" class="minicart_link"> <span class="item"><b>2</b> ITEM /</span> <span class="price"><b>$69.20</b></span> </a>
                <div class="cart_drop"> <span class="darw"></span>
                    <ul>
                        <li><img src="/${site}/common/default/images/mini_c_item1.png" /><a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span></li>
                        <li><img src="/${site}/common/default/images/mini_c_item2.png" /><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
                        <div class="cart_bottom">
                            <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
                            <a href="shop_cart.html">Checkout</a>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navigation Ends-->
    </div>
    <div class="section_container">
        <!--Mid Section Starts-->
        <section>
            <div id="side_nav">
                <div class="sideNavCategories">
                    <h1>服装</h1>
                    <ul class="category departments">
                        <li class="header">风格</li>
                        <li><a href="#">外套</a></li>
                        <li><a href="#">衬衫/T恤</a></li>
                        <li><a href="#">夹克</a></li>
                        <li><a href="#">短裤</a></li>
                        <li><a href="#">牛仔</a></li>
                        <li><a href="#">休闲</a></li>
                    </ul>
                    <ul class="category collection">
                        <li class="header">收藏</li>
                        <li><a href="#">所有品牌</a></li>
                        <li><a href="#">修身</a></li>
                        <li><a href="#">精品</a></li>
                        <li><a href="#">夏装</a></li>
                    </ul>
                    <ul class="category price">
                        <li class="header">价格</li>
                        <li><a href="#">100元以下</a></li>
                        <li><a href="#">100至200元</a></li>
                        <li><a href="#">200元以上</a></li>
                    </ul>
                </div>
            </div>
            <!--SIDE NAV ENDS-->
            <!--MAIN CONTENT STARTS-->
            <div id="main_content">
                <div class="category_banner"> <img src="/${site}/common/default/images/promo_cat_banner.jpg" /> </div>
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">服装</a></li>
                    <li class="active"><a href="#">T恤</a></li>
                </ul>
                <!--Toolbar-->
                <div class="toolbar">
                    <div class="sortby">
                        <label>排序 :</label>
                        <select>
                            <option />价格
                            <option />名称
                        </select>
                    </div>
                    <div class="viewby">
                        <label>查 看 :</label>
                        <a class="list" href="#"></a> <a class="grid" href="#"></a> </div>
                    <div class="show_no">
                        <label>显 示 :</label>
                        <select>
                            <option />12 ITEMS
                            <option />24 ITEMS
                        </select>
                    </div>
                </div>
                <!--Toolbar-->
                <!--Product List Starts-->
                <div class="products_list products_slider">
                    <ul>
                    	[#list goodss as goods]
                    	<li> <a class="product_image"><img src="/${site}/common/default/images/pr_l_1.jpg" /></a>
                            <div class="product_info">
                                <h3><a href="goods_detail.do?gid=${goods.gid!}">${goods.gname!}</a></h3>
                                <small>${goods.gremark!}</small> </div>
                            <div class="price_info"> <a href="shop_cart.do?gid=${goods.gid!}">+ 加入购物车</a>
                                <button class="price_add" title="" type="button"><span class="pr_price">￥${goods.gprice!}</span><span class="pr_add">加入购物车</span></button>
                            </div>
                        </li>
                    	[/#list]
                    </ul>
                </div>
                <!--Toolbar-->
                <div class="toolbar">
                    <div class="sortby">
                        <label>排 序 :</label>
                        <select>
                            <option />价格
                            <option />名称
                        </select>
                    </div>
                    <div class="viewby">
                        <label>查 看 :</label>
                        <a class="list" href="#"></a> <a class="grid" href="#"></a> </div>
                    <div class="show_no">
                        <label>显 示 :</label>
                        <select>
                            <option />12 ITEMS
                            <option />24 ITEMS
                        </select>
                    </div>
                </div>
                <!--Toolbar-->
            </div>
            <!--MAIN CONTENT ENDS-->
            
        </section>
        <!--Mid Section Ends-->
    </div>
    [#include "include/footer.html"]
</div>
</body>
</html>
