[#include "include/header.html"]
<div class="wrapper">
    [#include "include/nav.html"]
    <div class="navigation_container">
        <!--Navigation Starts-->
        <nav>
            <ul class="primary_nav">
            	[#list categorys as c]
                <li class="active">
                	<a href="#">${c.ctype}</a>
               <!--     <ul class="sub_menu">
                        <li> <a href="#">上衣</a>
                            <ul>
                                <li><a href="#">中国风</a></li>
                                <li><a href="#">牛仔</a></li>
                                <li><a href="#">户外运动</a></li>
                            </ul>
                        </li>
                        <li> <a href="#">休闲</a>
                            <ul>
                                <li><a href="#">中国风</a></li>
                                <li><a href="#">牛仔</a></li>
                                <li><a href="#">户外运动</a></li>
                            </ul>
                        </li>
                    </ul>   -->
                </li>
                [/#list]
                
            </ul>
            <div class="minicart"> 
            <a href="#" class="minicart_link"> <span class="item"><b>2</b> ITEM /</span> <span class="price"><b>$69.20</b></span> </a>
                <div class="cart_drop"> <span class="darw"></span>
                    <ul>
                        <li><img src="/${site}/common/default/images/mini_c_item1.png" /><a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span></li>
                        <li><img src="/${site}/common/default/images/mini_c_item2.png" /><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
                        <div class="cart_bottom">
                            <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
                            <a href="shop_cart.html">Checkout</a></div>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navigation Ends-->
    </div>
    <div class="section_container">
        <!--Mid Section Starts-->
        <section>
            <!--Banner Starts-->
            <div id="banner_section">
                <div class="flexslider">
                    <ul class="slides">
                        <li> <img src="/${site}/common/default/images/lm_banner_1.jpg" />
                            <!--<div class="flex-caption">
                     <h3>Explore the summer collection!</h3>
              </div>-->
                        </li>
                        <li> <img src="/${site}/common/default/images/lm_banner_2.jpg" />
                            <!--<div class="flex-caption">
                      <h3>Shop now!</h3>
               </div> -->
                        </li>
                        <li> <img src="/${site}/common/default/images/lm_banner_3.jpg" /> </li>
                    </ul>
                </div>
                <div class="promo_banner">
                    <div class="home_banner"><a href="#"><img src="/${site}/common/default/images/promo_hb_1.jpg" /></a></div>
                    <div class="home_banner"><a href="#"><img src="/${site}/common/default/images/promo_hb_2.jpg" /></a></div>
                    <div class="home_banner"><a href="#"><img src="/${site}/common/default/images/promo_hb_3.jpg" /></a></div>
                </div>
            </div>
            
            [#list bigList as f]
            [#if f??]
            <div class="products_list products_slider">
                <h2 class="sub_title">[#list f as ff][#if ff_index==1]${ff.category.ctype}[/#if][/#list]</h2>
                <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
               		[#list f as c]
               		[#if c_index<4]
                    <li> <a class="product_image"><img src="/${site}/common/default/images/pr_l_2.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="#">${c.gname!}</a></h3>
                            <small>${c.gxremark!}</small> </div>
                        <div class="price_info"> <a href="#">+ 加入购物车</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$${c.gprice!}</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    [/#if]
                    [/#list]
                </ul>
            </div>
            [/#if]
            [/#list]
            
        </section>
    </div>
    [#include "include/footer.html"]
</div>
</body>
</html>