[#include "include/header.html"]
<div class="wrapper">
    [#include "include/nav.html"]
    <div class="navigation_container">
        <!--Navigation Starts-->
        <nav>
            <ul class="primary_nav">
                <li class="active"><a href="good_list.html">女式</a>
                    <!--SUbmenu Starts-->
                    <ul class="sub_menu">
                        <li> <a href="#">上衣</a>
                            <ul>
                                <li><a href="#">中国风</a></li>
                                <li><a href="#">牛仔</a></li>
                                <li><a href="#">户外运动</a></li>
                            </ul>
                        </li>
                        <li> <a href="#">休闲</a>
                            <ul>
                                <li><a href="#">中国风</a></li>
                                <li><a href="#">牛仔</a></li>
                                <li><a href="#">户外运动</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--SUbmenu Ends-->
                </li>
                <li><a href="good_list.html">男式</a>
                    <!--SUbmenu Starts-->
                    <ul class="sub_menu">
                        <li> <a href="#">男式夏装</a>
                            <ul>
                                <li><a href="#">中国风</a></li>
                                <li><a href="#">牛仔</a></li>
                                <li><a href="#">户外运动</a></li>
                            </ul>
                        </li>
                        <li> <a href="#">休闲</a>
                            <ul>
                                <li><a href="#">中国风</a></li>
                                <li><a href="#">牛仔</a></li>
                                <li><a href="#">户外运动</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--SUbmenu Ends-->
                </li>
                <li><a href="good_list.html">童装</a></li>
                <li><a href="good_list.html">流行</a></li>
                <li><a href="#">休闲</a></li>
            </ul>
            <div class="minicart"> 
            <a href="#" class="minicart_link"> <span class="item"><b>2</b> ITEM /</span> <span class="price"><b>$69.20</b></span> </a>
                <div class="cart_drop"> <span class="darw"></span>
                    <ul>
                        <li><img src="/shopping/common/default/images/mini_c_item1.png" /><a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span></li>
                        <li><img src="/shopping/common/default/images/mini_c_item2.png" /><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
                        <div class="cart_bottom">
                            <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
                            <a href="shop_cart.html">Checkout</a></div>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navigation Ends-->
    </div>
    <div class="section_container">
        <!--Mid Section Starts-->
        <section>
            <!--Banner Starts-->
            <div id="banner_section">
                <div class="flexslider">
                    <ul class="slides">
                        <li> <img src="/shopping/common/default/images/lm_banner_1.jpg" />
                            <!--<div class="flex-caption">
                     <h3>Explore the summer collection!</h3>
              </div>-->
                        </li>
                        <li> <img src="/shopping/common/default/images/lm_banner_2.jpg" />
                            <!--<div class="flex-caption">
                      <h3>Shop now!</h3>
               </div> -->
                        </li>
                        <li> <img src="/shopping/common/default/images/lm_banner_3.jpg" /> </li>
                    </ul>
                </div>
                <div class="promo_banner">
                    <div class="home_banner"><a href="#"><img src="/shopping/common/default/images/promo_hb_1.jpg" /></a></div>
                    <div class="home_banner"><a href="#"><img src="/shopping/common/default/images/promo_hb_2.jpg" /></a></div>
                    <div class="home_banner"><a href="#"><img src="/shopping/common/default/images/promo_hb_3.jpg" /></a></div>
                </div>
            </div>
            <!--Banner Ends-->
            <!--Product List Starts-->
            <div class="products_list products_slider">
                <h2 class="sub_title">新款上市</h2>
                <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_1.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_2.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_3.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_5.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_1.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_2.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Product List Ends-->
            <!--Product List Starts-->
            <div class="products_list products_slider">
                <h2 class="sub_title">推荐产品</h2>
                <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_1.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_2.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_3.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="/shopping/common/default/images/pr_l_5.jpg" /></a>
                        <div class="product_info">
                            <h3><a href="good_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <!--Product List Ends-->
        </section>
    </div>
    [#include "include/footer.html"]
</div>
</body>
</html>